* {
  border: none;
  border-radius: 0;
  min-height: 0;

  font-family: "IosevkaTerm Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background: transparent;
  color: #e8e1dc;
}

.modules-left {
  background: #181818;

  padding: 1px 9px;
  margin: 0;
}

#custom-separator {
  color: alpha(@on_surface, 0.55);

  padding: 0 4px;
  margin: 0 1px;
}

#battery,
#clock {
  padding: 0;
  margin: 0;
}

#workspaces {
  transition: all 150ms ease-in-out;
}

#workspaces button {
  all: initial;

  transition: all 90ms ease-in-out;

  padding: 0 6px;
  margin: 0 1.5px;

  min-width: 9px;

  border-radius: 0px;

  border: none;
}

#workspaces button.empty {
  transition: all 90ms ease-in-out;
  opacity: 0.5;
}

#workspaces button.active {
  transition: all 90ms ease-in-out;

  border-radius: 0px;

  border: 0px solid alpha(@on_surface, 0.64);
  border-bottom-width: 4px;

  color: @on_surface;
  font-weight: 700;
  opacity: 1;
}

#workspaces button:hover {
  transition: all 90ms ease-in-out;
}

#workspaces button.urgent {
  border-radius: 0px;

  border: 0px solid alpha(@error, 0.7);
  border-bottom-width: 4px;

  color: @error;
}
