@import "/home/yugg755/.config/swayosd/colors.css";

window {
    background: transparent;
}

#osd {
    background: alpha(@surface_container, 0.92);
    border: 1px solid @outline_variant;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    padding: 6px 8px;
    min-width: 80px;
}

#icon {
    color: @primary;
    font-size: 13px;
    margin-right: 6px;
}

trough {
    background: @surface_variant;
    border-radius: 2px;
    min-height: 3px;
}

highlight,
progress {
    background: @primary;
    border-radius: 2px;
}

label {
    color: @on_surface;
    font-family: "JetBrainsMono Nerd Font";
    font-size:8px;
}
