#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: "{{ colors.on_surface.default.hex }}",
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "{{ colors.on_primary.default.hex }}", bg: "{{ colors.primary.default.hex }}", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "{{ colors.tertiary.default.hex }}", modifiers: "Bold"),
    current_item_style: (fg: "{{ colors.on_primary.default.hex }}", bg: "{{ colors.primary.default.hex }}", modifiers: "Bold"),
    borders_style: (fg: "{{ colors.outline_variant.default.hex }}"),
    highlight_border_style: (fg: "{{ colors.primary.default.hex }}"),
    symbols: (song: "󰎇", dir: "󰉋", marker: " ", ellipsis: "..."),
    progress_bar: (
        symbols: ["", "", " "],
        track_style: (fg: "{{ colors.surface_variant.default.hex }}"),
        elapsed_style: (fg: "{{ colors.primary.default.hex }}"),
        thumb_style: (fg: "{{ colors.primary.default.hex }}", bg: "{{ colors.surface_variant.default.hex }}"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "{{ colors.primary.default.hex }}"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "15%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "55%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "{{ colors.on_surface_variant.default.hex }}"),
                default: (kind: Text("Unknown Album"), style: (fg: "{{ colors.on_surface_variant.default.hex }}"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Sticker("playCount"), default: (kind: Text("0"))),
            width: "9",
            alignment: Right,
            label: "Playcount"
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "{{ colors.tertiary.default.hex }}", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "{{ colors.tertiary.default.hex }}", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "{{ colors.tertiary.default.hex }}", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "{{ colors.primary.default.hex }}"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "{{ colors.tertiary.default.hex }}", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "{{ colors.tertiary.default.hex }}", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "{{ colors.on_surface.default.hex }}", modifiers: "Bold"),
                            separator_style: (fg: "{{ colors.on_surface.default.hex }}")))
                        ),
                        style: (fg: "{{ colors.outline.default.hex }}")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: true,
    ),
)
