* {
    primary: #bccaba;
    primary-fixed: #d8e6d6;
    primary-fixed-dim: #bccaba;
    on-primary: #273328;
    on-primary-fixed: #131e14;
    on-primary-fixed-variant: #3d4a3e;
    primary-container: #3d4a3e;
    on-primary-container: #d8e6d6;
    secondary: #c1c9be;
    secondary-fixed: #dde5da;
    secondary-fixed-dim: #c1c9be;
    on-secondary: #2b322b;
    on-secondary-fixed: #161d17;
    on-secondary-fixed-variant: #414941;
    secondary-container: #414941;
    on-secondary-container: #dde5da;
    tertiary: #b7ccb7;
    tertiary-fixed: #d3e8d2;
    tertiary-fixed-dim: #b7ccb7;
    on-tertiary: #233425;
    on-tertiary-fixed: #0e1f12;
    on-tertiary-fixed-variant: #394b3b;
    tertiary-container: #394b3b;
    on-tertiary-container: #d3e8d2;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #131412;
    on-surface: #e4e2df;
    on-surface-variant: #c7c6c4;
    outline: #91918e;
    outline-variant: #464745;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e4e2df;
    inverse-on-surface: #30312f;
    inverse-primary: #556255;
    surface-dim: #131412;
    surface-bright: #393938;
    surface-container-lowest: #0d0e0d;
    surface-container-low: #1b1c1a;
    surface-container: #1f201e;
    surface-container-high: #292a28;
    surface-container-highest: #343533;
}
