@import "~/.config/rofi/colors.rasi"

configuration {
    modi:                        "drun";
    font:                        "Google Sans Flex Regular 11";
    show-icons:                  true;
    drun-display-format:         "{name}";
    hover-select:                true;
    me-select-entry:             "MouseSecondary";
    me-accept-entry:             "MousePrimary";
    window-format:               "{w} · {c} · {t}";
    dpi:                         1;
}

* {
    background-alt:              @surface;
    selected:                    rgba(212,187,252,0.14);
    active:                      rgba(212,187,252,0.08);
    urgent:                      rgba(255,80,80,0.20);

    text-color:                  @on-surface;
    text-selected:               @on-primary;

    border-color:                @outline-variant;
}

/* ───────── Window ───────── */

window {
    enabled:                     true;
    fullscreen:                  false;
    transparency:                "real";
    cursor:                      "default";

    location:                    center;
    anchor:                      center;
    width:                       85%;

    spacing:                     0px;
    border:                      1px;

    background-color: @surface-container;
    border-color:               transparent;
}

/* ───────── Layout ───────── */

mainbox {
    enabled:                     true;
    children:                    [ "listview", "inputbar" ];
    background-color:            transparent;
    spacing:                     0px;
}

/* ───────── Search Bar ───────── */

inputbar {
    enabled:                     true;
    background-color:            transparent;
    border:                       0px;
    padding:                      0px;
    margin:                       0px;
    spacing:                      0px;
    expand: false;
    width: 0px;
    height: 0px;

    children:                    [ "entry" ];
}

prompt {
    enabled:                     true;
    text-color:                  @primary;
    padding:                     0px 8px 0px 0px;
    background-color:            transparent;
}

entry {
    enabled:                     true;

    background-color:            transparent;
    text-color:                  transparent;
    placeholder:                 "";
    placeholder-color:           transparent;

    padding:                     0px;
    margin:                       0px;

    cursor-color:                transparent;
}

/* ───────── Grid ───────── */

listview {
    enabled: true;
    columns: 5;
    lines: 1;

    padding: 16px 24px;
    spacing: 12px;

    cycle: true;
    dynamic: true;
    scrollbar: false;

    layout: vertical;
    fixed-height: true;
    fixed-columns: true;

    background-color: transparent;
    border: 0px;
}

/* ───────── Tiles ───────── */

element {
    enabled:                     true;
    orientation:                 vertical;
    expand:                      true;
    padding:                     0px;
    cursor:                       pointer;

    background-color:            transparent;

    children:                     [ element-icon ];
}

element normal.normal {
    background-color:            rgba(255,255,255,0.04);
    text-color:                  @on-surface;
}

element normal.active {
    background-color:            rgba(212,187,252,0.08);
    text-color:                  @on-surface;
}

element normal.urgent {
    background-color:            rgba(255,60,60,0.20);
    text-color:                  @on-surface;
}

element selected.normal {
    background-color: rgba(212,187,252,20%);
    border-color: @primary;
}

element alternate.normal {
    background-color:            rgba(255,255,255,0.03);
    text-color:                  @on-surface;
}

/* ───────── Icon & Text ───────── */

element-icon {
    size:                        25%;
    padding:                     0px;
    background-color:            transparent;
}

element-text {
    padding-left:                0px;
    background-color:            transparent;
}
