@define-color main_accent #cba6f7;
@define-color secondary_accent #89b4fa;

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "Iosevka NFP";
  font-size: 16px;
}

window#waybar {
  background: @crust;
  border-radius: 0px;
  margin: 1px 0px 0px 0px;
  border: 1px solid @surface0;
}

#cpu {
  margin-left: 8px;
}

#cpu,
#memory,
#temperature,
#disk,
#clock {
  color: @text;
}

#temperature.critical {
  background-color: @red;
}

#clock.time {
  color: @text;
  margin-left: 20px;
}

#clock.date {
  margin-left: 5px;
}

#privacy-item.screenshare {
  color: @red;
}
#privacy-item.audio-in {
  color: @red;
}
#privacy-item.audio-out {
  color: @green;
}

/* WORKSPACES */

#workspaces button {
    color: #585b70; /* inactive / empty */
    padding: 0;
}

#workspaces button.empty {
    color: #45475a; /* empty */
}

/* occupied but inactive */
#workspaces button:not(.empty):not(.active) {
    color: #bac2de;
}

/* active */
#workspaces button.active {
    color: #cba6f7;
    font-weight: 700;
}

/* hover */
#workspaces button:hover {
    color: #f5f5f5;
}

/* urgent */
#workspaces button.urgent {
    color: #f38ba8;
}

#network {
  color: @text;
}

#idle_inhibitor {
  margin-right: 8px;
  color: @surface1;
}

#idle_inhibitor.activated {
  color: @text;
}

#custom-dnd {
  color: @red;
}

#tray {
  margin-right: 8px;
}
